*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color:#2a1155;
}

.row{
    display: flex;
}
ul,li{
    list-style: none;
    
}

.align-item{
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.e-img img{
    width:60px;
    margin: 10px 0px;
    border-radius: 50px;
}
.e-list ul li{
    margin: 0px 10px;
}
button{
    background-color:black;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    padding:5px;
}

.e-list{
    margin-left: auto;
}
.container{
    width: 1440px;
    margin: 0px auto;
}

.img-title h4{
    margin: 10px 0px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}
.grid-item{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 15px;
    padding: 10px;
}
.cart-h4{
    padding:10px 0;
    font-size: 30px;
}
.cart-h3{
    padding-bottom:10px;
    font-size: 30px;
}
.grid-p{
    padding-bottom:10px ;
    font-size:18px ;
}
.grid-img{
    width: 200px;
    height: 200px;
}
.gird-text{
    text-align: center;
}
.padding-10{
    padding: 46px 0;
}
.cart-btn {
    padding:30px 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
#slider {
    margin: 0 auto;
    width:100%;
    overflow: hidden;
  }
  
.slides {
    overflow: hidden;
    animation-name: fade;
    animation-duration: 1s;
    display: none;
  }
.slides img{
    height:500px;
}
  
  #dot {
    margin: 0 auto;
    text-align: center;
  }
.dot {
    display: inline-block;
    border-radius: 50%;
    background: #d3d3d3;
    padding: 8px;
    margin: 10px 5px;
  }
  
  .active {
    background: black;
  }
  
  @media (max-width: 567px) {
    #slider {
      width: 100%;
    }
  }
  
  #heading {
    display: block;
    text-align: center;
    font-size: 2em;
    margin: 10px 0px;
  }
  
  .owl-carousel img{
    width:200px;
    height: 300px;
    object-fit: cover;
}
.owl-carousel .owl-prev{
    position:absolute;
    top:50%;
    left:0%;
    width:40px;
    background-color:black !important;
    height: 40px;
    border-radius: 50%;
    color: white !important;
}
.owl-carousel .owl-next{
    position:absolute;
    top:50%;
    right:0%;
    width:40px;
    background-color:rgb(6, 6, 6) !important;
    height: 40px;
    border-radius: 50%;
    color: white !important;
} 
.active{
    background-color: white !important;
}
.owl-carousel .owl-dots .owl-dot{
    width: 5px;
    height: 5px;
    position:relative;
    left: 50%;
    top: 90%;
    background-color: black;
    margin: 0 10px;
}

